/*全局变量设置*/
$MainColor : #409EFF; 
$SecondaryTextColor:#fff;
$PrimaryTextColor:#303133;
$TitleFontSize: 18px;
$TextFontSize: 16px;
$IconSize:20px;
$MainBG: #545c64;
$BorderColor:#e6e6e6;
$PrimaryGap:20px;

